@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

:root {
  --white: white;
  --blue: #1e90ff;
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 1%, 71%);
  --grayish-violet: hsl(260, 30%, 96%);
  --dim-gray: #696969;
  --bg-modal: #4b536280;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  position: relative;
}

.entire-container {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/osas-bg.jpeg");
  color: var(--white);
  height: 800px;
  position: relative;
  margin-top: -180px;
}

.desktop-text {
  margin-top: 500px;
}

.nav-bar {
  display: flex;
  background: #000000;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 20px;
  border: 2px solid none;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.nav-links {
  margin-right: 170px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin-right: 10%;
}

.nav-links ul li {
  margin-left: 20%;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
}

.nav-links ul li a:active {
  color: var(--blue);
}

.nav-links ul li a:hover {
  color: var(--dim-gray);
  cursor: pointer;
}

.menu-bar {
  display: none;
}

.text-area {
  padding: 250px;
  padding-top: 320px;
  padding-bottom: 400px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.text-area h2 {
  text-transform: uppercase;
}
.text-area button {
  margin-top: 4rem;
  padding: 1rem;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px 8px;
  width: 12rem;
}

#about {
  display: flex;
  padding: 80px 20px;
  background-color: var(--grayish-violet);
}

.introduction-div {
  width: 40%;
  padding: 10px;
}

.introduction h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.experiences {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.experience {
  width: 47%;
}
.job-role {
  font-style: italic;
  font-size: 14px;
  margin: 3px 0px;
}

.experience small {
  font-weight: 600;
}

.experience h4 {
  margin: 6px 0 6px 0;
  color: var(--blue);
}

.services {
  margin: 40px 70px 40pxc;
  align-items: center;
}

.services-writing {
  padding: 70px 120px 0;
  text-align: center;
  font-size: 18px;
}

.services-writing h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin: 1rem;
}

.box {
  padding: 30px;
  width: 100%;
  border: 1px solid var(--gray);
}

.box h3 {
  margin: 10px 0px;
  font-size: 25px;
}

.skills {
  display: flex;
  margin-top: 80px;
}

.skills img {
  width: 600px;
  height: 700px;
  object-fit: cover;
}

.skills-and-tools {
  background: var(--grayish-violet);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px;
  margin-bottom: 5px;
}

.skills-and-tools h1 {
  font-weight: bold;
  font-size: 30px;
}

.skills-and-tools h3 {
  font-weight: bold;
  font-size: 25px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects-comp {
  margin: 10rem 2rem;
}
.projects-comp h2 {
  text-align: center;
  margin: 1rem 0 2rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}
.project {
  width: 100%;
  height: 30rem;
}
.project-img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project a {
  display: block;
  color: #000000;
  width: 100%;
  margin-top: 0.85rem;
  text-align: center;
}

.project a:hover {
  text-decoration: underline;
}

.contact {
  background: var(--grayish-violet);
  padding: 50px;
}

.contact span {
  text-decoration: underline;
}

.contact button {
  background-color: #1e90ff;
  color: #ffffff;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
}

.contact button:hover {
  cursor: pointer;
}

.contact span:hover {
  color: var(--blue);
  cursor: pointer;
}

footer {
  background: #000000;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.socials ul {
  color: var(--white);
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.copyright {
  margin-top: 30px;
  font-size: 20px;
}

.socials ul li {
  background: var(--blue);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.socials ul li:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--blue);
}

@media (max-width: 420px) {
  header {
    height: 700px;
  }

  .menu-bar {
    display: block;
    float: right;
    margin-right: -150px;
  }

  .menu-bar:hover {
    cursor: pointer;
  }

  .nav-links ul {
    background: #000000;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    top: 66px;
    right: -100%;
    transition: all 1s;
    margin-right: 0;
  }

  .nav-links ul li {
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .text-area {
    padding: 100px;
    padding-top: 300px;
    padding-bottom: 500px;
    font-size: 15px;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  .introduction-div {
    width: 100%;
    font-size: 18px;
  }

  .experiences {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .experience {
    width: 100%;
  }

  .services {
    margin-left: 10px;
    margin-right: 10px;
  }

  .services-writing {
    padding-left: 10px;
    padding-right: 10px;
  }

  .services-writing h3 {
    font-size: 30px;
  }

  .boxes {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .skills {
    margin-top: 30px;
    flex-direction: column;
  }

  .skills img {
    height: 400px;
    width: 100%;
  }

  .skills-and-tools {
    margin-top: -20px;
    padding: 50px;
    margin-bottom: 5px;
  }

  .skills-and-tools h1 {
    font-weight: bold;
    font-size: 30px;
  }

  .skills-and-tools h3 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .icons ul li {
    margin-right: 14px;
    margin-top: 25px;
  }

  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .projects-comp {
    margin: 10rem 0.7rem;
  }
}
